<div class="container">

  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <form [formGroup]="registerForm" (ngSubmit)="register()" class="text-center border border-light p-5">

        <p class="h4 mb-4">Sign up</p>

        <input type="text" formControlName="nickname" class="form-control mb-4" placeholder="Nickname">
        <input type="email" formControlName="email" class="form-control mb-4" placeholder="E-mail">
        <input type="password" formControlName="password" class="form-control mb-4" placeholder="Password">

        <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

        <hr>

      </form>
    </div>

    <div class="col-md-3"></div>

  </div>

</div>

