<div class="container">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 text-center">
      <div class="card text-white bg-dark" style="margin: 5% 0">

        <div class="card-header">
          <h5 class="card-title text-left">
            [Avatar] {{meme.title}}
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-left bg-secondary">
            {{meme.tags}}
          </li>
        </ul>

        <div *ngIf="meme.type === 'mp4'">
          <video controls class="card-img-bottom">
            <source src="/api/memes/single/{{meme.id}}">
          </video>
        </div>
        <div *ngIf="meme.type !== 'mp4'">
          <img class="card-img-bottom" src="/api/memes/single/{{meme.id}}" alt="Meme not found :(">
        </div>

        <div class="card-footer">
          <span class="text-left" style="margin-right: 20%">
            30.03.2020/21:00
          </span>
          <span class="text-right" style="margin-left: 20%">
            Rating: {{meme.rating.value}}
            <button class="btn btn-danger" (click)="rateUp()">
              +
            </button>
          </span>
        </div>
      </div>

      <!-- Adding comment -->
      <form [formGroup]="commentForm" (ngSubmit)="addComment()">
        <div class="card border-secondary text-white bg-dark">
          <div class="card-body row form-group">
            <div class="col-xs-8 col-md-9 col-xl-10">
              <div class="row justify-content-center">
              <textarea formControlName="commentText" class="form-control ml-1 mr-1" rows="3"
                        placeholder="Hello I'm Mr. Puffin, share your opinion with me!"> </textarea>
              </div>
            </div>

            <div class="col-xs-4 col-md-3 col-xl-2">
              <div class="row justify-content-center">

                <button class="btn btn-danger ml-1 mr-1" type="submit">
                  Add Comment
                </button>

              </div>
            </div>
          </div>
        </div>
      </form>

    </div>

    <div class="col-md-3"></div>
  </div>
</div>

